@use '../../styles' as *;

.root {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;

  &[data-layout='strip'] {
    gap: 14px 10px;
    max-width: 1010px;

    @include from(sm) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include from(md) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }

  &[data-layout='quad'] {
    @include from(md) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
